body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
}
      .cec1 {
        width: 100%;
  text-align: center;
  margin-top: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
      }
      .cec2 {
        padding-top: 50px;
        width: 40%;
        margin: 0px auto;
        text-align: center;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
      }
@media (max-width:1200px)
{
  .cec1 {
    font-size: 70px;
  }
.cec2 {
  max-width: 970px;
}
}
@media (max-width:992px)
{
  .cec1 {
    font-size: 90px;
  }
.cec2 {
  max-width: 750px;
}
}
@media all (max-width:376px) {
  .cec1 {
    font-size: 100px;
  }
}
